@charset "utf-8";
/* CSS Document */
body {
	width: 100%;
	margin: 0;
	font-family: Meiryo !important;
}
.container {
	width: 100%;
	margin: 0;
}
.wrapper {
	width: 910px;
	margin: 0 auto;
	height: auto;
}
.wrapperinner {
	width: 906px;
	height: 2500px;
	margin: 0 auto;
	border: 2px #000 solid;
	height: auto;
}
.content {
	width: 866px;
	height: auto;
	margin: 0 auto;
}
.header {
	width: 866px;
	height: 77px;
}
.headerinner {
	width: 830px;
	height: 97px;
	margin: 0 auto;
}
.headerinner p {
	width: 376px;
	margin: 0 auto;
	font-size: 32px;
	font-weight: bold;
	padding-top: 18px;
}
.sub01 {
	width: 906px;
	height: 760px;
	background-color: white;
}
.tit {
	/*width:866px;*/
	width: 906px;
	height: 40px;
	background-color: black;
}
.tit p {
	font-size: 14px;
	padding-left: 40px;
	padding-top: 10px;
	color: white;
	font-weight: bolder;
}

/*.titpic {
 width: 60px;
 height: 40px;
 background-color: #0CC;
 text-align: right;
 }
 .titpic img {
 padding-top: 10px;
 }*/
.sub01_inner {
	width: 826px;
	height: 640px;
	margin: 0 auto;
}
.sub01_inner01 {
	height: 213px;
	width: 826px;
	margin-top: 20px;
	border-bottom: 2px black dotted;
	margin-bottom: 15px;
}
.sub01_inner01_left {
	width: 280px;
	height: 213px;
	float: left;
}
.pht {
	width: 200px;
	height: 200px;
	padding-left: 40px;
}
.pht img {
	width: 200px;
	height: 200px;
}
.sub01_inner01_right {
	width: 400px;
	height: 213px;
	float: left;
	margin-top: -20px;
}
.sub01_inner01_right_tit {
	width: 554px;
	height: 40px;
	border-bottom: 4px black solid;
	font-weight: bold;
	font-size: 20px;
}
.txt_02 {
	color: blue;
	font-size: 18px;
	font-weight: bold;
}
.txt_06 {
	font-size: 18px;
	font-weight: bold;
}
.sub01_inner02 {
	height: 213px;
	width: 826px;
	border-bottom: 2px #000 solid;
}
.sub01_inner03 {

	width: 826px;
}
.sub02 {
	width: 906px;
	height: 670px;
}
.sub02_inner {
	width: 846px;
	height: 500px;
	margin-left: 20px;
	margin: 0 auto;
}
.sub02_inner01 {
	border: 2px black solid;
	border-radius: 5px;
	height: 588px;
	width: 800px;
	margin: 0 auto;
	margin-top: 20px;
}

.sub02_inner01_left {
	width: 200px;
	height: 588px;
	float: left;
	border-radius: 5px;
}
.sub02_inner01_left ul li:last-child {
	border-bottom: none;
}
ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
.sub02_inner01_left ul li {
	list-style: none;
	border-bottom: 2px black solid;
	line-height: 40px;
	padding-left: 20px;
	font-weight: bolder;
	font-size: 12px;
}

.sub02_inner01_right {
	width: 598px;
	height: 588px;
	float: left;
	border-left: none;
	border-left: 2px black solid;
	margin-top: -10px;
}

.sub02_inner01_right ul li {
	list-style: none;
	border-bottom: 2px black solid;
	line-height: 40px;
	padding-left: 20px;
	font-size: 12px;
}
.sub01_inner01_right_txt01 {
	word-spacing: 6px;
	width: 476px;
	float: right;
	font-weight: normal;
}
.txt_01 {
	font-size: 12px;
}
.sub03 {
	width: 906px;
	height: 250px;
}
.sub03_inner {
	width: 500px;
	margin: 0 auto;
}
.sub03_inner01 {
	width: 380px;
	height: 90px;
	margin: 0 auto;
	font-size: 12px;
	margin-top: 25px;
}
.sub03_inner02 {
	width: 305px;
	height: 40px;
	margin: 0 auto;
	font-size: 12px;
}
.sub03_inner02_left {
	width: 304px;
	margin: 0 auto;
}
button {
	width: 130px;
	height: 50px;
	background: black;
	font-size: 20px;
	color: #039;
	border-radius: 10px;
	cursor: pointer;
	font-family: Kozuka Gothic Pro;
}

button:hover {

	color: #39F;
}

.text04 {
	color: blue;
	font-weight: bolder;
}
.sub03_inner01 p {

	float: left;
}
.text08 {

	font-size: 18px;
	font-weight: bolder;
}
.text09 {
	width: 50px;
}
.text10 {
	width: 117px;
}
.text11 {
	font-size: 18px;
	font-weight: bolder;
}
.text05 {
	width: 100px;
	float: left;
}
.sub03_inner01 span {
	color: blue;
	font-size: 12px;
	font-weight: bolder;
}
.sub01_inner03_right {
	width: 400px;
	height: 341px;
	float: right;
}
.sub01_inner03_right_txt {
	width: 264px;
	float: right;
}
.txt_03 {

	border-bottom: 1px black dotted;
}
.text06 {
	width: 100px;
	font-weight: bold;
	text-align: right;
}
.text07 {
	width: 110px;
	color: blue;
	font-size: 18px;
	font-weight: bolder;
	text-align: right;
}
.text08 {
	color: black;
	font-size: 18px;
	padding-left: 10px;
	text-align: right;
}
p.text02 {
	width: 45px;
	font-size: 20px;
	color: black;
	font-weight: bolder;
}

.txt_04 {

	border-bottom: 1px black solid;
}
.txt_04 p {
	width: 137px;
	float: left;
	line-height: 13px;
}
.txt_05 {
	height: 40px;
}
.text12 {
	font-size: 20px;
	color: blue;
	font-weight: bolder;
	width: 110px;
	text-align: right;
}
.footer {
	width: 906px;
	height: 40px;
	background: black;
	color: white;
}
.footer p {
	width: 327px;
	margin: 0 auto;
	font-size: 12px;
	padding-top: 14px;
	padding-left: 47px;
}

